<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @category.price %>
</p>

<p>
  <strong>Total:</strong>
  <%= @category.total %>
</p>


<p>
  <strong>Quantity:</strong>
  <% @category.quantities.each do |quantity|  %>
    <%= quantity.id %>
  <% end %>
</p>
